{
    "arrowParens": "always",
    "semi": true,
    "trailingComma": "none",
    "tabWidth": 2,
    "endOfLine": "auto",
    "useTabs": true,
    "singleQuote": false,
    "printWidth": 80,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false
}